{% load i18n %}
{% load attr render_field from widget_tweaks %}
{% load classname from nublas_filters %}

{% get_current_language as LANGUAGE_CODE %}

{% if field.field|classname == "modelchoicefield" %}
    {% if field.field.required %}
        {% render_field field required="required" %}
    {% else %}
        {% render_field field %}
    {% endif %}
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $("#{{ field.auto_id }}").select2({
                allowClear: true,
                width: '100%'
                {% if field.errors %}, dropdownCssClass: 'has-errors'{% endif %}
            });
        });
    })(jQuery);
    </script>
{% elif field.field|classname == "modelmultiplechoicefield" %}
    {% if field.field.required %}
        {% render_field field required="required" %}
    {% else %}
        {% render_field field %}
    {% endif %}
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $("#{{ field.auto_id }}").select2({
                allowClear: true,
                width: '100%'
                {% if field.errors %}, dropdownCssClass: 'has-errors'{% endif %}
            });
        });
    })(jQuery);
    </script>
{% elif field.field|classname == "tagfield" %}
    {% if field.field.required %}
        {{ field|attr:"required:required" }}
    {% else %}
        {{ field }}
    {% endif %}
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $("#{{ field.auto_id }}").tagsinput({
                tagClass: 'label label-default',
                trimValue: true
            });
        });
    })(jQuery);
    </script>
{% elif field.field|classname == "timefield" %}
    <div class="input-group time time-{{ field.auto_id }}">
        <input type="text" id="{{ field.auto_id }}" size="20"
               name="{{ field.html_name }}" class="form-control" value="{{ field.value|date:'H:i'|default:'' }}" />
        <span class="input-group-addon add-on btn"><i class="fa fa-time"></i></span>
    </div>
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $('.input-group.time.time-{{ field.auto_id }}').datetimepicker({
                language: "{{ LANGUAGE_CODE }}",
                format: "HH:mm",
                pickDate: false,
                use24hours: true,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
        });
    })(jQuery);
    </script>
{% elif field.field|classname == "datefield" %}
    <div class="input-group date date-{{ field.auto_id }}">
        <input type="text" id="{{ field.auto_id }}" size="20"
               name="{{ field.html_name }}" class="form-control" value="{{ field.value|date:'Y-m-d'|default:'' }}" />
        <span class="input-group-addon add-on btn"><i class="fa fa-calendar"></i></span>
    </div>
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $('.input-group.date.date-{{ field.auto_id }}').datetimepicker({
                language: "{{ LANGUAGE_CODE }}",
                format: "YYYY-MM-DD",
                pickTime: false,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
        });
    })(jQuery);
    </script>
{% elif field.field|classname == "datetimefield" %}
    <div class="input-group input-append date datetime-{{ field.auto_id }}">
        <input type="text" id="{{ field.auto_id }}" size="20"
               name="{{ field.html_name }}" class="form-control" value="{{ field.value|date:'Y-m-d H:i'|default:'' }}" />
        <span class="input-group-addon add-on btn"><i class="fa fa-calendar"></i></span>
    </div>
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $('.datetime-{{ field.auto_id }}').datetimepicker({
                language: "{{ LANGUAGE_CODE }}",
                format: "YYYY-MM-DD HH:mm",
                use24hours: true,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
        });
    })(jQuery);
    </script>
{% elif field.field|classname == "booleanfield" %}
    {{ field }} {{ field.label }}
{% else %}
    {% if field.field.required %}
        {% render_field field class="form-control" required="required" %}
    {% else %}
        {% render_field field class="form-control" %}
    {% endif %}
{% endif %}
