{% load i18n %}
{% load classname from nublas_filters %}

{% if field.field|classname == "booleanfield" %}
    <div class="col-sm-offset-2 col-sm-4">
        <div class="checkbox">
            <label>
                {% nublas_include "generic/field_view_value.html" %}
            </label>
        </div>
    </div>
{% else %}
    {% if field.value %}
        <label class="col-sm-2 control-label" for="{{ field.html_name }}">
            {{ field.label }} {% if field.field.required %}*{% endif %}
        </label>
        <div class="col-sm-4">
            {% nublas_include "generic/field_view_value.html" %}
        </div>
    {% endif %}
{% endif %}
