{% load i18n %}
{% load classname from nublas_filters %}

{% if field.field|classname == "booleanfield" %}
    <div class="col-sm-offset-{% if first %}2{% else %}0{% endif %} col-sm-{{ field_size|default:10 }}{% if field.errors %} has-error{% endif %}">
        <div class="checkbox">
            <label>
                {% nublas_include "generic/field_edit_value.html" %}
            </label>
            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
{% else %}
    <label class="control-label col-sm-{% if first %}2{% else %}1{% endif %}{% if field.errors %} has-error{% endif %}{% if field.field.required %} required{% endif %}" for="{{ field.html_name }}">
         {{ field.label }}
    </label>
    <div class="col-sm-{{ field_size|default:10 }}{% if field.errors %} has-error{% endif %}">
        {% nublas_include "generic/field_edit_value.html" %}
        {% if field.help_text %}
            <p class="help-text">{{ field.help_text }}</p>
        {% endif %}
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}
