{% load static from staticfiles %}
{% load i18n %}
{% load classname from nublas_filters %}


{% if field.field|classname == "booleanfield" %}
    <p class="form-control-static">
        <i class="fa {% if field.value %}fa-check-square-o{% else %}fa-square-o{% endif %}"></i> {{ field.label }}
    </p>
{% elif field.field|classname == "modelchoicefield" %}
    <p class="form-control-static">
        {% if field.value %}
            {% for choice in field.field.choices %}
                {% ifequal field.value choice.0 %}{{ choice.1 }}{% endifequal %}
            {% empty %}
                -
            {% endfor %}
        {% else %}
            -
        {% endif %}
    </p>
{% elif field.field|classname == "urlfield" %}
    <p class="form-control-static">
        {% if field.value %}
            <a href="{{ field.value }}" title="{% trans 'Go to website...' %}" target="_blank">{{ field.value }}</a>
        {% else %}
            -
        {% endif %}
    </p>
{% elif field.field|classname == "tagfield" %}
    <div class="bootstrap-tagsinput readonly">
        {% for tag in field.value %}
            <span class="tag label label-default">{{ tag.tag.name }}</span>
        {% empty %}
            -
        {% endfor %}
    </div>
{% else %}
    <p class="form-control-static">
        {{ field.value|default:'-' }}
    </p>
{% endif %}
