{% load i18n %}

{% spaceless %}
    {% comment %}
    {% if form.non_field_errors %}
        <div class="alert alert-block alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
        </div>
    {% endif %}
    {% endcomment %}

    {% if form.fieldsets %}
        {% for fieldset in form.fieldsets %}
            <fieldset class="{{ fieldset.classes }}">
                {% if fieldset.legend %}
                    <legend>{{ fieldset.legend }}</legend>
                {% endif %}
                {% if fieldset.description %}
                    <p class="description">{{ fieldset.description }}</p>
                {% endif %}
                {% for fieldline in fieldset %}
                    <div class="form-group">
                    {% for field, field_size in fieldline %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    {% for field, field_size in fieldline %}
                        {% if not field.is_hidden %}
                            {% if not field.field.is_readonly %}
                                {% nublas_include "generic/field_edit.html" with first=forloop.first %}
                            {% else %}
                                {% nublas_include "generic/field_view.html" with first=forloop.first %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
        {% endfor %}
    {% else %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group{% if not field.is_readonly and field.errors %} has-error{% endif %}">
                {% if not field.field.is_readonly %}
                    {% nublas_include "generic/field_edit.html" with first=1 %}
                {% else %}
                    {% nublas_include "generic/field_view.html" with first=1 %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
