{% nublas_extends "base_site.html" %}
{% load i18n %}

{% block content-title %}
    <div class="page-header">
        <h1>{{ title }} {% if object_name %}<small>{{ object_name }}</small>{% endif %}</h1>
    </div>
{% endblock %}


{% block content-inner %}
    <form action="." method="POST" class="form-horizontal" role="form">{% csrf_token %}

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#inline-edit" role="tab" data-toggle="tab">
                {% if section_icon %}<i class="fa {{ section_icon }} fa-fw"></i> {% endif %}{{ section_title }}</a></li>
            <li class="pull-right">
                <div class="btn-group">
                    {% if back_url %}
                    <a href="{{ back_url }}" class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-circle-left fa-fw"></i> {{ back_text }}</a>
                    {% endif %}
                    <button class="btn btn-default btn-sm" type="submit">
                        <i class="fa fa-floppy-o fa-fw"></i> {{ submit_text }}</button>
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="caret"></i>
                        <i class="sr-only">Toggle Dropdown</i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">{% trans "Save and add another" %}</a></li>
                        {% if not contact and not adding %}
                        <li><a href="#">{% trans "Save as a copy" %}</a></li>
                        {% comment %}
                        <li class="divider"></li>
                        <li><a href="{% url 'nublas:contact_details' contact.uuid %}">
                            <i class="fa fa-eye fa-fw"></i> {% trans "View" %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'nublas:contact_delete' contact.uuid %}">
                            <i class="fa fa-trash-o fa-fw"></i> {% trans "Delete" %}</a></li>
                        {% endcomment %}
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="inline-edit">

                <!-- Base inline form -->
                {% if inline_form and inline_form.fields|length > 0 %}
                    {% nublas_include "generic/form_snippet.html" with form=inline_form %}
                {% endif %}

                <!-- Custom form fields -->
                {% if custom_form and custom_form.fields|length > 0 %}
                    {% nublas_include "generic/form_snippet.html" with form=custom_form %}
                {% endif %}

                <!-- Tags form -->
                {% if tags_form %}
                    {% if tags_form.has_tags or editing or adding %}
                        {% nublas_include "generic/form_snippet.html" with form=tags_form %}
                    {% endif %}
                {% endif %}

            </div>
        </div>

    </form>
{% endblock %}
