{% nublas_extends "base_site.html" %}
{% load i18n %}

{% block content-title %}
    <div class="page-header">
        <h1>{{ title }} {% if object_name %}<small>{{ object_name }}</small>{% endif %}</h1>
    </div>
{% endblock %}


{% block content-messages %}
    {{ block.super }}
    {% comment %}
    <div class="messages">
    {% if inline_form.non_field_errors %}
        {% for message in inline_form.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ message }}</div>
        {% endfor %}
    {% endif %}
    </div>
    {% endcomment %}
{% endblock %}


{% block content-inner %}
    <form action="." method="POST" class="form-horizontal" role="form">{% csrf_token %}

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#inline-edit" role="tab" data-toggle="tab">
                {% if section_icon %}<i class="fa {{ section_icon }} fa-fw"></i> {% endif %}{{ section_title }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="inline-edit">

                {% block form-before %}{% endblock %}

                <!-- Base inline form -->
                {% if inline_form and inline_form.fields|length > 0 %}
                    {% nublas_include "generic/form_snippet.html" with form=inline_form %}
                {% endif %}

                <!-- Custom form fields -->
                {% if custom_form and custom_form.fields|length > 0 %}
                    {% nublas_include "generic/form_snippet.html" with form=custom_form %}
                {% endif %}

                {% block form-after %}{% endblock %}

            </div>
        </div>

        <!-- Buttons -->
        {% if editing or adding %}
        <div class="form-group">
            <div class="col-sm-6 text-left">
                {% comment %}
                    {% if back_url %}
                    <a href="{{ back_url }}" class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-circle-left fa-fw"></i> {{ back_text }}</a>
                    {% endif %}
                {% endcomment %}

                <button class="btn btn-primary btn-sm" type="submit">
                    <i class="fa fa-floppy-o fa-fw"></i> {{ submit_text }}</button>
                <a class="btn btn-default btn-sm" href="#">
                    {% trans "Save and add another" %}</a>
                {% if not adding %}
                <a class="btn btn-default btn-sm" href="#">
                    {% trans "Save as a copy" %}</a>
                {% endif %}
            </div>

            {% if editing and not adding %}
            <div class="col-sm-6 text-right">
                <a class="btn btn-danger btn-sm" href="{{ delete_url }}">
                    <i class="fa fa-close fa-fw"></i> {% trans "Delete" %}</a>
            </div>
            {% endif %}
        </div>
        {% endif %}

    </form>
{% endblock %}
