language: python
python:
  - 2.7
  - 3.2
  - 3.3
  - 3.4
env:
  - DJANGO=1.7.4
before_install:
  - export DJANGO_SETTINGS_MODULE=nublas.tests.settings
install:
  - pip install -q Django==$DJANGO
  - pip install coveralls
  - pip install .
  - pip install -r requirements.txt
script:
  - coverage run --timid --source=nublas manage.py test nublas
after_success:
  - coveralls
