{% nublas_extends "base_site.html" %}
{% load i18n %}
{% load nublas_tags %}


{% block javascript-after %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){

                //===== Contact list actions =====//

                $(".nublas-select-all-btn").click(function(e){
                    e.preventDefault();
                    $(".nublas-contact-list input[type='checkbox']").prop('checked', 'checked');
                });

                $(".nublas-select-clear-btn").click(function(e){
                    e.preventDefault();
                    $(".nublas-contact-list input[type='checkbox']").removeAttr('checked');
                });

                $(".nublas-delete-selected-btn").click(function(e){
                    e.preventDefault();
                    bootbox.confirm(
                        "{% trans 'Are you sure you wish to delete selected ?' %}",
                        function(result) {
                            if (result) {
                                $(".nublas-contacts-action").val("delete");
                                $(".nublas-main-form").submit();
                            }
                        });
                });

                $(".nublas-export-selected-btn").click(function(e){
                    e.preventDefault();
                    bootbox.confirm(
                        "{% trans 'Are you sure you wish to export selected ?' %}",
                        function(result) {
                            if (result) {
                                $(".nublas-contacts-action").val("export");
                                $(".nublas-main-form").submit();
                            }
                        }
                    );
                });

                $(".nublas-create-event-btn").click(function(e){
                    e.preventDefault();
                });


                //===== Letters navigation =====//

                $(".nublas-contact-list-nav a").click(function(e){
                    e.preventDefault();
                    $(".nublas-letter").val($(this).text());
                    $(".nublas-search-form").submit();
                });


                //===== Pagination navigation =====//

                $(".nublas-pagination li.prev a").click(function(e){
                    e.preventDefault();
                    {% if contacts.has_previous %}
                        $(".nublas-page").val({{ contacts.previous_page_number }});
                        $(".nublas-search-form").submit();
                    {% endif %}
                });

                $(".nublas-pagination li.next a").click(function(e){
                    e.preventDefault();
                    {% if contacts.has_next %}
                        $(".nublas-page").val({{ contacts.next_page_number }});
                        $(".nublas-search-form").submit();
                    {% endif %}
                });

                $(".nublas-pagination li:not(.prev):not(.next) a").click(function(e){
                    e.preventDefault();
                    $(".nublas-page").val($(this).text());
                    $(".nublas-search-form").submit();
                });

            });
        })(jQuery);
    </script>
{% endblock %}


{% block content-title %}
    <div class="page-header">
        <h1>{{ association.name }} <small>{% trans "Association contacts" %}</small></h1>
    </div>
{% endblock %}


{% block content-breadcrumb-inner %}
    <li><a href="{% url 'nublas:home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'nublas:association_list' %}">{% trans "Associations" %}</a></li>
    <li><a href="{% url 'nublas:association_details' association.uuid %}">{{ association.name|capfirst }}</a></li>
    <li class="active">{% trans "Contacts" %}</li>
{% endblock %}


{% block content-inner %}

    <ul class="nav nav-tabs" role="tablist">
        {% nublas_include "views/association/tabs.html" with activetab="contacts" %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">

            <div class="row row-section">
                <!-- Search -->
                <div class="col-sm-3">
                    <form action="." method="POST" role="form" class="nublas-search-form">{% csrf_token %}
                        <input type="hidden" class="nublas-letter" name="letter" value="{{ letter }}" />
                        <input type="hidden" class="nublas-page" name="page" value="{{ contacts.number }}" />
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="search" placeholder="{% trans 'Enter search text...' %}" value="{{ searchtext }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm " type="submit">{% trans 'Search' %}</button>
                            </span>
                        </div>
                    </form>
                </div>

                <!-- Buttons -->
                <div class="col-sm-9 text-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'nublas:contact_add' association.uuid %}">
                        <i class="fa fa-plus-circle fa-fw"></i> {% trans "Add" %}</a>
                    <a class="btn btn-default btn-sm nublas-select-clear-btn" href="#">{% trans "Clear selection" %}</a>
                    <a class="btn btn-default btn-sm nublas-select-all-btn" href="#">{% trans "Select all" %}</a>

                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            {% trans "Actions on selection" %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="nublas-delete-selected-btn" href="#">
                                <i class="fa fa-trash fa-fw"></i> {% trans "Delete selected" %}</a></li>
                            <li><a class="nublas-export-selected-btn" href="#">
                                <i class="fa fa-download fa-fw"></i> {% trans "Export selected" %}</a></li>
                            <li class="divider"></li>
                            <li><a class="nublas-create-event-btn" href="#">
                                <i class="fa fa-calendar fa-fw"></i> {% trans "Create new event" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Letters -->
            <div class="row row-section">
                <div class="col-sm-12 text-center nublas-contact-list-nav">
                    <div class="btn-group">
                        <a class="* btn btn-sm btn-{% if letter == 'ALL' %}primary{% else %}default{% endif %}" href="#">ALL</a>
                        <a class="_ btn btn-sm btn-{% if letter == '0-9' %}primary{% else %}default{% endif %}" href="#">0-9</a>
                        <a class="a btn btn-sm btn-{% if letter == 'A'   %}primary{% else %}default{% endif %}" href="#">A</a>
                        <a class="b btn btn-sm btn-{% if letter == 'B'   %}primary{% else %}default{% endif %}" href="#">B</a>
                        <a class="c btn btn-sm btn-{% if letter == 'C'   %}primary{% else %}default{% endif %}" href="#">C</a>
                        <a class="d btn btn-sm btn-{% if letter == 'D'   %}primary{% else %}default{% endif %}" href="#">D</a>
                        <a class="e btn btn-sm btn-{% if letter == 'E'   %}primary{% else %}default{% endif %}" href="#">E</a>
                        <a class="f btn btn-sm btn-{% if letter == 'F'   %}primary{% else %}default{% endif %}" href="#">F</a>
                        <a class="g btn btn-sm btn-{% if letter == 'G'   %}primary{% else %}default{% endif %}" href="#">G</a>
                        <a class="h btn btn-sm btn-{% if letter == 'H'   %}primary{% else %}default{% endif %}" href="#">H</a>
                        <a class="i btn btn-sm btn-{% if letter == 'I'   %}primary{% else %}default{% endif %}" href="#">I</a>
                        <a class="j btn btn-sm btn-{% if letter == 'J'   %}primary{% else %}default{% endif %}" href="#">J</a>
                        <a class="k btn btn-sm btn-{% if letter == 'K'   %}primary{% else %}default{% endif %}" href="#">K</a>
                        <a class="l btn btn-sm btn-{% if letter == 'L'   %}primary{% else %}default{% endif %}" href="#">L</a>
                        <a class="m btn btn-sm btn-{% if letter == 'M'   %}primary{% else %}default{% endif %}" href="#">M</a>
                        <a class="n btn btn-sm btn-{% if letter == 'N'   %}primary{% else %}default{% endif %}" href="#">N</a>
                        <a class="o btn btn-sm btn-{% if letter == 'O'   %}primary{% else %}default{% endif %}" href="#">O</a>
                        <a class="p btn btn-sm btn-{% if letter == 'P'   %}primary{% else %}default{% endif %}" href="#">P</a>
                        <a class="q btn btn-sm btn-{% if letter == 'Q'   %}primary{% else %}default{% endif %}" href="#">Q</a>
                        <a class="r btn btn-sm btn-{% if letter == 'R'   %}primary{% else %}default{% endif %}" href="#">R</a>
                        <a class="s btn btn-sm btn-{% if letter == 'S'   %}primary{% else %}default{% endif %}" href="#">S</a>
                        <a class="t btn btn-sm btn-{% if letter == 'T'   %}primary{% else %}default{% endif %}" href="#">T</a>
                        <a class="u btn btn-sm btn-{% if letter == 'U'   %}primary{% else %}default{% endif %}" href="#">U</a>
                        <a class="v btn btn-sm btn-{% if letter == 'V'   %}primary{% else %}default{% endif %}" href="#">V</a>
                        <a class="w btn btn-sm btn-{% if letter == 'W'   %}primary{% else %}default{% endif %}" href="#">W</a>
                        <a class="x btn btn-sm btn-{% if letter == 'X'   %}primary{% else %}default{% endif %}" href="#">X</a>
                        <a class="y btn btn-sm btn-{% if letter == 'Y'   %}primary{% else %}default{% endif %}" href="#">Y</a>
                        <a class="z btn btn-sm btn-{% if letter == 'Z'   %}primary{% else %}default{% endif %}" href="#">Z</a>
                        <a class="- btn btn-sm btn-{% if letter == '...' %}primary{% else %}default{% endif %}" href="#">...</a>
                    </div>
                </div>
            </div>

            <!-- Table with form -->
            <div class="panel panel-default nublas-contact-list">
                <form action="{% url 'nublas:association_contacts_action' association.uuid %}" method="POST" role="form" class="nublas-main-form">{% csrf_token %}
                    <input type="hidden" class="nublas-contacts-action" name="contact_action" value="" />
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Contact" %}</th>
                            <th>{% trans "Emails" %}</th>
                            <th>{% trans "Phones" %}</th>
                            <th>{% trans "Type" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in contacts %}
                        <tr>
                            <td><input type="checkbox" name="contact_list_selected" value="{{ c.uuid }}" /></td>
                            <td><a href="{% url 'nublas:contact_details' c.uuid %}">{{ c.last_name }} {{ c.first_name }}</a></td>
                            <td>{% for e in c.emails.all %}<a href="mailto:{{ e.address }}" title="">{{ e.address }}</a>{% endfor %}</td>
                            <td>{% for e in c.phones.all %}<span class="red">{{ p.number }}</span>{% endfor %}</td>
                            <td>{% if c.type %}<span class="cNote">{{ c.type }}</span>{% endif %}</td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="5"><center>{% trans "Nothing matched your filter, please click another letter." %}</center></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-6">
                    <h5>{% trans 'Contacts list ' %} - {{ contacts|length }}{% trans " of " %}{{ association.contacts.count }}</h5>
                </div>

                <div class="col-sm-6 text-right">
                    <ul class="pagination nublas-pagination">
                        <li class="prev {% if not contacts.has_previous %}disabled{% endif %}"><a href="#">&laquo;</a></li>
                        {% nublas_xrange 1 contacts.paginator.num_pages|add:1 1 as pages %}
                        {% for p in pages %}
                            {% if contacts.number == p %}
                                <li class="active"><span>{{ p }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="#">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="next {% if not contacts.has_next %}disabled{% endif %}"><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
