{% nublas_extends "base_site.html" %}
{% load i18n %}


{% block javascript-after %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){

                //===== Delete inlines tables =====//

                $(".deleteButton").click(function(e){
                    e.preventDefault();
                    jConfirm("{% trans 'Are you sure ?' %}", "{% trans 'You selected to delete the association' %}", $.proxy(function(ans) {
                        if (ans) {
                            $("<form>", {
                                "action": $(this).attr("href"),
                                "method": "POST",
                                "target": "_top"
                            }).append($("<input>", {
                                "type": "hidden",
                                "name": "csrfmiddlewaretoken",
                                "value": "{{ csrf_token }}"
                            })).appendTo("body").submit();
                        }
                    }, $(this)));
                });

            });
        })(jQuery);
    </script>
{% endblock %}


{% block content-title %}
    <div class="page-header">
        {% if adding %}
            <h1>{% trans "Adding new association" %}</h1>
        {% else %}
            <h1>{% trans "Association details" %}: <small>{{ association.name }}</small></h1>
        {% endif %}
    </div>
{% endblock %}


{% block content-inner %}

    {% comment %}
    {% if not adding %}
        {% nublas_include "association/tabs.html" %}
    {% endif %}
    {% endcomment %}

    <form action="." method="POST" class="form-horizontal" role="form">{% csrf_token %}

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#association-details" role="tab" data-toggle="tab">{% trans "Association details" %}</a></li>
            {% if association %}
            <li><a href="{% url 'nublas:association_contacts' association.uuid %}" role="tab">{% trans "Contacts" %}</a></li>
            <!--<li><a href="#contacts" role="tab" data-toggle="tab">{% trans "Contacts" %}</a></li>-->
            <li><a href="#agenda" role="tab" data-toggle="tab">{% trans "Agenda" %}</a></li>
            <li><a href="#mailing" role="tab" data-toggle="tab">{% trans "Mailing" %}</a></li>
            {% endif %}
            <li class="pull-right">
                <div class="btn-group">
                    {% if editing or adding %}
                        <button class="btn btn-default btn-sm" type="submit">
                            <i class="fa fa-floppy-o fa-fw"></i> {% trans 'Save Association' %}</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="caret"></i>
                            <i class="sr-only">Toggle Dropdown</i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">{% trans "Save and add another" %}</a></li>
                            {% if association and not adding %}
                            <li><a href="#">{% trans "Save as a copy" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'nublas:association_details' association.uuid %}">
                                <i class="fa fa-eye fa-fw"></i> {% trans "View" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'nublas:association_delete' association.uuid %}">
                                <i class="fa fa-trash-o fa-fw"></i> {% trans "Delete" %}</a></li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <a href="{% url 'nublas:association_edit' association.uuid %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil fa-fw"></i> {% trans "Edit" %}</a>
                    {% endif %}
                </div>
            </li>
        </ul>

        <div class="tab-content">

            <!-- Association details -->
            <div class="tab-pane active" id="association-details">
                <!-- Main form -->
                {% nublas_include "generic/form_snippet.html" with form=details_form %}

                <!-- Custom form fields -->
                {% if custom_form and custom_form.fields|length > 0 %}
                    {% nublas_include "generic/form_snippet.html" with form=custom_form %}
                {% endif %}

                <!-- Tags form -->
                {% if tags_form %}
                    {% if tags_form.has_tags or editing or adding %}
                        {% nublas_include "generic/form_snippet.html" with form=tags_form %}
                    {% endif %}
                {% endif %}
            </div>

            <div class="tab-pane" id="contacts">
            </div>

            <div class="tab-pane" id="agenda">
            </div>

            <div class="tab-pane" id="mailing">
            </div>

        </div>

    </form>
{% endblock %}