{% load i18n %}

<li {% if activetab == 'details' %}class="active"{% endif %}>
    <a href="{% if activetab != 'details' %}{% url 'nublas:association_details' association.uuid %}{% else %}#{% endif %}" role="tab">
        {% trans "Association details" %}</a></li>
{% if association %}
<li {% if activetab == 'contacts' %}class="active"{% endif %}>
    <a href="{% if activetab != 'contacts' %}{% url 'nublas:association_contacts' association.uuid %}{% else %}#{% endif %}" role="tab">
        {% trans "Contacts" %}</a></li>
<li {% if activetab == 'agenda' %}class="active"{% endif %}>
    <a href="#agenda" role="tab">
        {% trans "Agenda" %}</a></li>
<li {% if activetab == 'mailing' %}class="active"{% endif %}>
    <a href="#mailing" role="tab">
        {% trans "Mailing" %}</a></li>
{% endif %}
