<script type="text/javascript">
    var PATH = '';
    var FILESERVE = '';

    (function($){
        $(document).ready(function(){

            FILESERVE = $('#fileserve-url').val();

            // -------------------------------------------------- MESSAGE BOX
            /**
             * add a message to the message box. context and type can be omitted.
             */
            function add_msg(msg, type)
            {
                context = typeof context !== 'undefined' ? context : 'Info';
                type = typeof type !== 'undefined' ? type : 'alert-info';

                $('div.messages').html(
                    $('<div />').addClass('alert').addClass(type).append(
                        '<a class="close" data-dismiss="alert">&times;</a>',
                        msg
                    )
                );
            }

            // -------------------------------------------------- BROWSE
            /**
             * set breadcrumb according to PATH.
             */
            function set_breadcrumb()
            {
                $('ol#nublas-files-breadcrumb').html("");

                // clear
                if (PATH)
                    $('ol#nublas-files-breadcrumb').append('<li><a href="">..</a></li>');

                // add parts
                var parts = PATH.split('/');
                var html = '';
                var link = '';
                for (var i = 0; i < parts.length; i++)
                {
                    if (i != parts.length - 1) {
                        link += i == 0 ? parts[i] : '/' + parts[i];
                        html += '<li><a href="' + link + '">' + parts[i] + '</a></li>';
                    } else {
                        html += '<li class="active">' + parts[i] + '</li>';
                    }
                }
                $('ol#nublas-files-breadcrumb').append(html);

                // register click event
                $('ol#nublas-files-breadcrumb a').click(function (e) {
                    e.preventDefault();
                    browse($(e.target).attr('href'));
                });
            }

            /**
             * do the ajax request for the new path.
             */
            function browse(path)
            {
                $.ajax({
                    url: FILESERVE + "?path=" + path,
                    cache: false,
                    dataType: 'json',
                    success: function (result) {
                        if (result.status)
                            show_content(path, result.files);
                        else
                            add_msg(result.msg, 'alert-danger');
                    },
                    error: function (jqXHR, status) {
                        add_msg(status, 'alert-danger');
                    }
                });
            }

            /**
             * ajax success callback, set path and add content to table.
             */
            function show_content(path, files) {
              PATH = path;
              set_breadcrumb();

              $('table#nublas-file-manager').empty();

              for (var i = 0; i < files.length; i++) {
                var f = files[i];
                f.edit = '';
                f.move = '';
                f.remove = '';

                if (f.folder) {
                  f.name = $('<a />').attr('href', f.link).text(f.name).click(function (e) {
                    e.preventDefault();
                    browse($(e.target).attr('href'));
                  });
                } else {
                  f.name = '<a href="' + FILESERVE + '?download=' + f.link + '">' + f.name + '</a>';
                  if (f.editable) {
                    f.edit = $('<a />').attr('href', f.link).html('<i class="fa fa-pencil"></i>').click(function (e) {
                      e.preventDefault();
                      $.ajax({
                        url: FILESERVE + "?edit=" + $(e.target).parent().attr('href'),
                        cache: false,
                        dataType: 'text',
                        success: function (result) {
                          $('div#nublas-file-editor textarea').val(result);
                          $('div#nublas-file-editor input#editor-target').val($(e.target).parent().attr('href'));
                          $('div#nublas-file-editor').show();
                        },
                        error: function (jqXHR, status) {
                          add_msg(status, 'alert-danger');
                        }
                      });
                    });
                  }
                }

                // move action
                if (f.movable) {
                  f.move = $('<a />').attr('href', f.link).html('<i class="fa fa-arrow-right"></i>').click(function (e) {
                    e.preventDefault();
                    $('div#move input#move-src').val($(e.target).parent().attr('href'));
                    $('div#move input#move-dst').val(PATH == '' ? '' : (PATH + '/'));
                    $('div#move').modal('show');
                  });
                }

                // remove action
                if (f.removable) {
                  f.remove = $('<a />').attr('href', f.link).html('<i class="fa fa-remove"></i>').click(function (e) {
                    e.preventDefault();
                    $('div#remove input#remove-path').val($(e.target).parent().attr('href'));
                    $('div#remove').modal('show');
                  });
                }

                $('table#nublas-file-manager').append(
                  $('<tr />').append(
                    $('<td />').append('<i class="' + f.icon + '"></i> ', f.name),
                    $('<td />').text(f.size),
                    $('<td />').text(f.date),
                    $('<td />').text(f.perm),
                    $('<td style="text-align:right">').append(f.edit, ' ', f.move, ' ', f.remove)
                  )
                );
              }
            }

            // -------------------------------------------------- PROGRESS BAR
            /**
             * callback function for progress bar.
             */
            function progress_bar(e) {
              var done = e.position || e.loaded;
              var total = e.totalSize || e.total;
              var per = (Math.floor(done / total * 1000) / 10);
              $('div#nublas-progress > div.bar').css('width', per + '%').text(per + ' %');
            }

            // -------------------------------------------------- MODAL SUBMIT
            $('div#new a.submit').click(function (e) {
              $.ajax({
                url: FILESERVE + "?new=",
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: {
                  type: $('div#new input#new-type').val(),
                  src: $('div#new input#new-path').val(),
                  path: PATH,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (result) {
                  add_msg(result.msg, result.status ? 'alert-success' : 'alert-danger');
                  browse(PATH);
                },
                error: function (jqXHR, status) {
                  add_msg(status, 'alert-danger');
                }
              });
            });

            $('div#remove a.submit').click(function (e) {
              $.ajax({
                url: FILESERVE + "?remove=",
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: {
                  src: $('div#remove input#remove-path').val(),
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (result) {
                  add_msg(result.msg, result.status ? 'alert-success' : 'alert-danger');
                  browse(PATH);
                },
                error: function (jqXHR, status) {
                  add_msg(status, 'alert-danger');
                }
              });
            });

            $('div#move a.submit').click(function (e) {
              $.ajax({
                url: FILESERVE + "?move=",
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: {
                  type: 'move',
                  src: $('div#move input#move-src').val(),
                  dst: $('div#move input#move-dst').val(),
                  path: PATH,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (result) {
                  add_msg(result.msg, result.status ? 'alert-success' : 'alert-danger');
                  browse(PATH);
                },
                error: function (jqXHR, status) {
                  add_msg(status, 'alert-danger');
                }
              });
            });

            $('div#upload a.submit').click(function (e) {
              $.ajax({
                url: FILESERVE + "?upload=" + $('div#upload input#upload-path').val(),
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                data: new FormData($('div#upload form')[0]),
                success: function (result) {
                  $('div#nublas-progress').hide();
                  add_msg(result.msg, result.status ? 'alert-success' : 'alert-danger');
                  browse(PATH);
                },
                error: function (jqXHR, status) {
                  $('div#nublas-progress').hide();
                  add_msg(status, 'alert-danger');
                },
                xhr: function() {
                  var x = $.ajaxSettings.xhr();
                  if (x.upload)
                    x.upload.addEventListener('progress', progress_bar, false);
                  return x;
                }
              });

              $('div#nublas-progress div.bar').css('width', 0);
              $('div#nublas-progress').show();
            });

            // -------------------------------------------------- TOOLBOX BUTTONS
            $('div#nublas-file-tools a#upload-button').click(function (e) {
                e.preventDefault();
                $('div#upload input#upload-path').val((PATH == '' ? '' : (PATH + '/')));
                $('div#upload').modal('show');
            });

            $('div#nublas-file-tools a#new-file-button').click(function (e) {
                e.preventDefault();
                $('div#new input#new-type').val('file');
                $('div#new input#new-path').val('');
                $('div#new').modal('show');
            });

            $('div#nublas-file-tools a#new-folder-button').click(function (e) {
                e.preventDefault();
                $('div#new input#new-type').val('folder');
                $('div#new input#new-path').val('');
                $('div#new').modal('show');
            });

            $('div#nublas-file-tools a#refresh-button').click(function (e) {
                browse(PATH);
            });

            var getParameterByName = function(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return (results == null) ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            };

            var PATH = getParameterByName('path') || '';
            browse(PATH);

        });
    })(jQuery);
</script>
