<input type="hidden" id="id_{{ name }}" name="{{ name }}" value="{{ value|default:'' }}" />
<input type="text" id="id_{{ name }}_helper" value="{{ display }}" {{ attrs }}
       data-url="{{ url }}" data-value="{{ value|default:'' }}" data-display="{{ display }}"
       data-placeholder="{{ placeholder|default:'---------' }}" data-min-length="{{ min_length|default:2 }}"
       data-allow-clear="{% if allow_clear %}1{% else %}0{% endif %}" data-multiple="{% if multiple %}1{% else %}0{% endif %}"
       data-min-length="{{ min_length|default:2 }}" data-errors="{{ errors|default:'' }}" />
<script type="text/javascript">
(function($){
    $(document).ready(function(){
        $("#id_{{ name }}_helper").select2({
            width: '100%',
            placeholder: "{{ placeholder|default:'---------' }}",
            minimumInputLength: {{ min_length|default:2 }},
            {% if errors %}dropdownCssClass: 'has-error',{% endif %}
            {% if allow_clear %}allowClear: true,{% endif %}
            {% if multiple %}multiple: true,{% endif %}
            ajax: {
                url: "{{ url }}",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term,
                        page_limit: {{ page_limit|default:10 }}
                    };
                },
                results: function (data, page) {
                    return { results: data.results };
                }
            },
            initSelection: function(element, callback) {
                callback({ id: "{{ value|default:'' }}", text: "{{ display }}" });
            }
        });

        $("#id_{{ name }}_helper").on("change", function(e) {
            $("#id_{{ name }}").val(e.val);
        });
    });
}(jQuery));
</script>