<div class="input-group input-append date datetime-{{ name }}">
    <input type="text" name="{{ name }}" value="{{ value|date:'Y-m-d H:i'|default:'' }}" data-date-format="YYYY-MM-DD HH:mm" {{ attrs }} />
    <span class="input-group-addon add-on btn"><i class="fa fa-calendar"></i></span>
</div>
<script type="text/javascript">
(function($){
    $(document).ready(function() {
        $('.datetime-{{ name }}').datetimepicker({
            language: "{{ LANGUAGE_CODE|default:'en' }}",
            use24hours: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
    });
})(jQuery);
</script>
