{% nublas_extends "generic/inline_view.html" %}
{% load static %}
{% load i18n %}
{% load nublas_tags nublas_filters %}

        
{% block javascript-after %}
<script type="text/javascript">
    (function($){
        $(document).ready(function(){

            //===== Convenience =====//
            var fixSelect2 = function(el, parent) {
                var $select = el.find("select");
                var $parent = $select.closest(parent || "td");
                var select_id = $select.attr("id");
                var select_name = $select.attr("name");
                $select.remove();
                $("<input type='hidden' id='" + select_id + "' name='" + select_name + "' />").appendTo($parent);
                $("<input type='text' id='" + select_id + "_helper' class='form-control' />").appendTo($parent);
            };

            var fixElementNumber = function(el, counter) {
                var re = /(.*-)([0-9A-Za-z\_]+)(-.*)/;
                var id = $(el).attr("id");
                if (id) {
                    var m = id.match(re);
                    if (m && m.length == 4)
                        $(el).attr("id", m[1] + counter + m[3]);
                }
                var name = $(el).attr("name");
                if (name) {
                    var m = name.match(re);
                    if (m && m.length == 4)
                        $(el).attr("name", m[1] + counter + m[3]);
                }
            };

            var fixFormsetNumbers = function(el, count) {
                if (el) {
                    $(el).find("select, input, textarea, button, a").each(function(index) {
                        fixElementNumber(this, count);
                    });
                }
                else
                {
                    var counter = count || 0;
                    $(".nublas-event-contacts-table tbody tr").each(function(index) {
                        $(this).find("select, input, textarea, button, a").each(function(index) {
                            fixElementNumber(this, counter++);
                        });
                    });
                }
            };

            //===== Add Button =====//
            $(".nublas-contacts-add").click(function(evt) {
                evt.preventDefault();

                var count = parseInt($("#id_contacts-TOTAL_FORMS").val());

                // clone
                var lastTableRow = $(".nublas-event-hidden-table tbody tr").clone();
                // replace select2
                fixSelect2(lastTableRow);
                // replace id and names
                fixFormsetNumbers(lastTableRow, count);
                // append
                lastTableRow.appendTo($(".nublas-event-contacts-table tbody"));

                // retrigger select2
                $("#id_contacts-" + count + "-contact_helper").select2({
                    width: '100%',
                    placeholder: "---------",
                    minimumInputLength: 2,
                    allowClear: true,
                    ajax: {
                        url: "",
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                q: term,
                                page_limit: 10
                            };
                        },
                        results: function (data, page) {
                            return { results: data.results };
                        }
                    }
                });

                $("#id_contacts-" + count + "-contact_helper").on("change", function(e) {
                    $("#id_contacts-" + count + "-contact").val(e.val);
                });

                // update formsets number
                $("#id_contacts-TOTAL_FORMS").val(count + 1);

                return false;
            });

            //===== Remove button =====//
            $(".nublas-event-contacts-table").on("click", "a.nublas-formset-delete-button", function(evt) {
                evt.preventDefault();

                var $this = $(this);
                var $parent = $this.closest("tr");
                var $next = $parent.nextAll("tr");

                var counter = 10; // $parent.find("input").attr("id");
                $next.each(function(index) {
                    fixElementNumber(this, counter++);
                });

                $parent.remove();

                var count = parseInt($("#id_contacts-TOTAL_FORMS").val());
                $("#id_contacts-TOTAL_FORMS").val(count - 1);

                return false;
            });

        });
    }(jQuery));
</script>
{% endblock %}


{% block styles-after %}
{% endblock %}


{% block form-before %}
    <table class="hidden nublas-event-hidden-table">
        <tbody>
            <tr>
            {% for field in contact_formset.empty_form.visible_fields %}
                {% if field.label != "Delete" %}
                    <td>{% nublas_include "generic/field_edit_value.html" with avoid_required=1 %}</td>
                {% endif %}
            {% endfor %}
            {% if contact_formset.can_delete %}
                <td class="text-center">
                    <a class="btn btn-danger btn-xs nublas-formset-delete-button" name="id_contacts-__prefix__-delete">
                        <i class="fa fa-remove fa-fw"></i></a>
                </td>
            {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}


{% block form-after %}
    <div class="form-group">
        <label class="control-label col-sm-2">
            <div class="input-group pull-right">
                {% trans "Partecipants" %}
                <a href="#" class="btn btn-primary btn-xs nublas-contacts-add">
                    <i class="fa fa-plus-circle fa-fw"></i></a>
            </div>
        </label>

        <div class="col-sm-10">

            {{ contact_formset.management_form }}

            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped nublas-event-contacts-table">
                <thead>
                <tr>
                    {% for form in contact_formset|slice:":1" %}
                        {% for field in form.visible_fields %}
                            {% if field.label != "Delete" %}
                                <td>{{ field.label|capfirst }}</td>
                            {% endif %}
                        {% endfor %}
                        {% if contact_formset.can_delete %}
                            <td>{% trans "Delete" %}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for form in contact_formset %}
                        <tr>
                        {% for field in form.visible_fields %}
                            {% if field.label != "Delete" %}
                                <td {% if field.errors %}class="has-error"{% endif %}>
                                    {% nublas_include "generic/field_edit_value.html" with avoid_required=1 %}
                                    {% for error in field.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if contact_formset.can_delete %}
                            <td class="text-center">{{ form.DELETE }}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for form in contact_formset %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {% endfor %}

        </div>
    </div>
{% endblock %}