{% nublas_extends "base_site.html" %}
{% load i18n %}


{% block content-title %}
    <div class="page-header">
        {% if adding %}
            <h1>{% trans "Adding new contact" %}</h1>
        {% else %}
            <h1>{{ contact.first_name }} {{ contact.last_name }}
                <small>{% trans "Contact details" %}
                    {% if editing %}
                        <a href="{% url 'nublas:contact_details' contact.uuid %}" class="btn btn-default btn-xs">
                            <i class="fa fa-eye fa-fw"></i> {% trans "View" %}</a>
                    {% else %}
                        <a href="{% url 'nublas:contact_edit' contact.uuid %}" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil fa-fw"></i> {% trans "Edit" %}</a>
                    {% endif %}
                </small>
            </h1>
        {% endif %}
    </div>
{% endblock %}


{% block content-breadcrumb-inner %}
    <li><a href="{% url 'nublas:home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'nublas:association_list' %}">{% trans "Associations" %}</a></li>
    <li><a href="{% url 'nublas:association_details' contact.association.uuid %}">{{ contact.association.name|capfirst }}</a></li>
    <li><a href="{% url 'nublas:association_contacts' contact.association.uuid %}">{% trans "Contacts" %}</a></li>
    <li class="active">{{ contact.first_name }} {{ contact.last_name }}</li>
{% endblock %}


{% block content-inner %}

    <form action="." method="POST" class="form-horizontal" role="form">{% csrf_token %}

        <ul class="nav nav-tabs" role="tablist">
            {% nublas_include "views/contact/tabs.html" with activetab="details" %}
        </ul>

        <div class="tab-content">

            <!-- Personal details -->
            <div class="tab-pane active">

                <!-- Main form -->
                {% nublas_include "generic/form_snippet.html" with form=personal_form %}

                <!-- Other infos -->
                {% if contact %}
                <div class="form-group">
                    <!-- Addresses -->
                    <label class="col-sm-2 control-label">
                        {% trans 'Addresses' %}
                    </label>
                    <div class="col-sm-4">
                        {% nublas_include "views/contact/tables/addresses.html" with addresses=contact.addresses.all %}
                    </div>

                    <!-- Phone numbers -->
                    <label class="col-sm-2 control-label">
                        {% trans 'Phones' %}
                    </label>
                    <div class="col-sm-4">
                        {% nublas_include "views/contact/tables/phones.html" with phones=contact.phones.all %}
                    </div>
                </div>

                <div class="form-group">
                    <!-- Emails -->
                    <label class="col-sm-2 control-label">
                        {% trans 'Emails' %}
                    </label>
                    <div class="col-sm-4">
                        {% nublas_include "views/contact/tables/emails.html" with emails=contact.emails.all %}
                    </div>

                    <!-- Websites -->
                    <label class="col-sm-2 control-label">
                        {% trans 'Websites' %}
                    </label>
                    <div class="col-sm-4">
                        {% nublas_include "views/contact/tables/websites.html" with websites=contact.websites.all %}
                    </div>
                </div>
                {% endif %}

                <!-- Custom form fields -->
                {% if custom_form and custom_form.fields|length > 0 %}
                    {% nublas_include "generic/form_snippet.html" with form=custom_form %}
                {% endif %}

                <!-- Buttons -->
                {% if editing or adding %}
                <div class="form-group">
                    <div class="col-sm-6 text-left">
                        <button class="btn btn-primary btn-sm" type="submit">
                            <i class="fa fa-floppy-o fa-fw"></i> {% trans 'Save Contact' %}</button>
                        <a class="btn btn-default btn-sm" href="#">
                            {% trans "Save and add another" %}</a>
                        {% if contact and not adding %}
                        <a class="btn btn-default btn-sm" href="#">
                            {% trans "Save as a copy" %}</a>
                        {% endif %}
                    </div>
                    {% if contact %}
                    <div class="col-sm-6 text-right">
                        <a class="btn btn-danger btn-sm" href="{% url 'nublas:contact_delete' contact.uuid %}">
                            <i class="fa fa-close fa-fw"></i> {% trans "Delete" %}</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

            </div>

            {% if contact %}
            <!-- Groups -->
            <div class="tab-pane" id="groups">
                {% nublas_include "views/contact/tables/groups.html" with groups=contact.groups.all %}
            </div>
            {% endif %}
        </div>

    </form>

{% endblock %}