{% nublas_extends "views/contact/details.html" %}
{% load i18n %}
{% load static %}


{% block javascript-extra %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){

                //===== Delete row =====//

                $(".nublas-contact-subscription-table .nublas-delete-button").click(function(e){
                    e.preventDefault();
                    bootbox.confirm(
                        "{% trans 'Are you sure you want to delete the subscription ?' %}",
                        $.proxy(function(result) {
                            if (result) {
                                $('<form>', {
                                    'action': $(this).attr('href'),
                                    'method': 'POST',
                                    'target': '_top'
                                }).append($('<input>', {
                                    'type': 'hidden',
                                    'name': 'csrfmiddlewaretoken',
                                    'value': '{{ csrf_token }}'
                                })).appendTo('body').submit();
                            }
                        }, $(this));
                    );
                });

            });
        })(jQuery);
    </script>
{% endblock %}


{% block content-title %}
    <div class="page-header">
        <h1>{{ contact.first_name }} {{ contact.last_name }} <small>{% trans "Contact subscriptions" %}</small></h1>
    </div>
{% endblock %}


{% block content-inner %}
    <form action="." method="POST" class="form-horizontal" role="form">{% csrf_token %}

        <ul class="nav nav-tabs" role="tablist">
            {% nublas_include "views/contact/tabs.html" with activetab="subscriptions" %}
        </ul>

        <div class="tab-content">

            <!-- Subscriptions -->
            <div class="tab-pane active">
                {% if contact %}
                    {% nublas_include "views/contact/tables/subscriptions.html" with groups=contact.subscriptions.all %}
                {% endif %}
            </div>
        </div>

    </form>
{% endblock %}
