{% load i18n %}
{% load static %}

<div class="panel panel-default table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped nublas-contact-group-table">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>
                <div class="btn-group pull-right">
                    <a href="{% url 'nublas:contact_group_add' contact.uuid %}" class="btn btn-primary btn-xs">
                        <i class="fa fa-plus-circle fa-fw"></i> {% trans "Add" %}</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
            {% for g in groups %}
            <tr>
                <td>{{ g.name }}</td>
                <td class="text-center">
                    <div class="btn-group pull-right">
                        <a href="{% url 'nublas:contact_group_edit' g.uuid %}" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil fa-fw"></i> {% trans "Edit" %}</a>
                        <a href="{% url 'nublas:contact_group_delete' g.uuid %}" class="btn btn-danger btn-xs nublas-delete-button">
                            <i class="fa fa-trash-o fa-fw"></i> {% trans "Delete" %}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
