{% load i18n %}
{% load static %}

<div class="panel panel-default table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped nublas-contact-partecipation-table">
        <thead>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Calendar" %}</th>
            <th>{% trans "Start date" %}</th>
            <th>{% trans "End date" %}</th>
            <th>{% trans "All day" %}</th>
            <th>
                <div class="btn-group pull-right">
                    <a href="{#{% url 'nublas:agenda_event_add' association.uuid %}?contact={{ contact.uuid }}#}" class="btn btn-primary btn-xs">
                        <i class="fa fa-plus-circle fa-fw"></i> {% trans "Add" %}</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
            {% spaceless %}
                {% for e in contact.events.all %}
                <tr>
                    <td>{{ e.pk }}</td>
                    <td>{{ e.title }}</td>
                    <td>{{ e.calendar }}</td>
                    <td>{{ e.start_date }}<div style="display:none">{{ e.start_date|date:'U' }}</div></td>
                    <td>{{ e.end_date }}<div style="display:none">{{ e.end_date|date:'U' }}</div></td>
                    <td class="center"><img src="{% if e.allday %}{% static 'images/forms/checked.png' %}{% else %}{% static 'images/forms/unchecked.png' %}{% endif %}" /></td>
                    <td class="center">
                        {% comment %}
                        <div class="button">
                            <a href="{% url 'nublas:agenda_partecipation_delete' e.uuid %}" class="nublas-delete-button">{% trans "Delete" %}</a>
                        </div>
                        {% endcomment %}
                        <div class="button">
                            <a href="{% url 'nublas:agenda_event_edit' e.uuid %}" class="blueNum">{% trans "Edit" %}</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endspaceless %}
        </tbody>
    </table>
</div>
