{% load i18n %}
{% load static %}

<div class="panel panel-default table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" id="relationshipsTable" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "To contact" %}</th>
            <th>
                <div class="btn-group pull-right">
                    <a href="{% url 'nublas:contact_relationship_add' contact.uuid %}" class="btn btn-primary btn-xs">
                        <i class="fa fa-plus-circle fa-fw"></i> {% trans "Add" %}</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
            {% for s in contact.from_contact.all %}
            <tr>
                <td>{{ s.pk }}</td>
                <td>{{ s.type.from_slug }}</td>
                <td><a href="{% url 'nublas:contact_details' s.to_contact.uuid %}">{{ s.to_contact }}</a></td>
                <td class="center">
                    <div class="button">
                        <a href="{% url 'nublas:contact_relationship_delete' s.uuid %}" class="redNum deleteButton">{% trans "Delete" %}</a>
                    </div>
                    <div class="button">
                        <a href="{% url 'nublas:contact_relationship_edit' s.uuid %}" class="blueNum">{% trans "Edit" %}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% for s in contact.to_contact.all %}
            <tr class="gradeA">
                <td>{{ s.pk }}</td>
                <td>{{ s.type.to_slug }}</td>
                <td><a href="{% url 'nublas:contact_details' s.from_contact.uuid %}">{{ s.from_contact }}</a></td>
                <td class="center">
                    <div class="button">
                        <a href="{% url 'nublas:contact_relationship_delete' s.uuid %}" class="redNum deleteButton">{% trans "Delete" %}</a>
                    </div>
                    <div class="button">
                        <a href="{% url 'nublas:contact_relationship_edit' s.uuid %}" class="blueNum">{% trans "Edit" %}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
