{% load i18n %}
{% load static %}

<div class="panel panel-default table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped nublas-contact-subscription-table">
        <thead>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "From date" %}</th>
            <th>{% trans "To date" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Number" %}</th>
            <th>{% trans "Has contribution" %}</th>
            <th>
                <div class="btn-group pull-right">
                    <a href="{% url 'nublas:contact_subscription_add' contact.uuid %}" class="btn btn-primary btn-xs">
                        <i class="fa fa-plus-circle fa-fw"></i> {% trans "Add" %}</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
            {% for s in contact.subscriptions.all %}
            <tr>
                <td>{{ s.pk }}</td>
                <td>{{ s.type }}</td>
                <td>{{ s.from_date }}<div style="display:none">{{ s.from_date|date:'U' }}</div></td>
                <td>{{ s.to_date_real }}<input type="hidden" value="{{ s.to_date_real|date:'U' }}"></td>
                <td>{{ s.status_text }}</td>
                <td>{{ s.number }}</td>
                <td class="text-center">
                    <i class="fa {% if s.has_contribution %}fa-check-square-o{% else %}fa-square-o{% endif %}"></i>
                </td>
                <td class="text-center">
                    <div class="btn-group pull-right">
                        <a href="{% url 'nublas:contact_subscription_edit' s.uuid %}" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil fa-fw"></i> {% trans "Edit" %}</a>
                        <a href="{% url 'nublas:contact_subscription_delete' s.uuid %}" class="btn btn-danger btn-xs nublas-delete-button">
                            <i class="fa fa-trash-o fa-fw"></i> {% trans "Delete" %}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
